$dark-blue: rgb(41, 121, 255);
$container-size: 15px;

.perspective-extension-container {
  background-color: $dark-blue;
  border-radius: 50%;
  height: $container-size;
  position: absolute;
  visibility: hidden;
  width: $container-size;

  &.show {
    visibility: visible;
  }
}

.perspective-extension-popup {
  background-color: $dark-blue;
  border-radius: 5px;
  position: absolute;
  visibility: hidden;

  &.show {
    visibility: visible;
  }
}
